<header>
    <title>Gestioar cuenta</title>
</header>

<body>
    <app-header></app-header>
    <section class="body_container" *ngIf="user$ | async as user">
        <div class="sections">
            <div class="section-title">
                <i class="bi bi-person-circle"></i>
                <h2 id="h2-title">Datos personales</h2>
            </div>
            <hr class="hr-big">
            <div class="user_data">
                <div class="profile-image">
                    <img [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
                    <button mat-mini-fab (click)="inputField.click()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <input #inputField hidden type="file" (change)="uploadFile($event, user)" />
                <div class="user_info">
                    <hr class="hr-small">
                    <div class="section-field">
                        <label class="field-name" for="nombreUsuario">Nombre:</label>
                        <span id="nombreUsuario" *ngIf="user$ | async as user">{{user.displayName}}</span>
                    </div>
                    <hr class="hr-small">
                    <div class="section-field">
                        <label class="field-name" for="apellidoUsuario">Apellidos:</label>
                        <span id="apellidoUsuario" *ngIf="user$ | async as user"> {{user.displaySurname}} </span>
                    </div>
                    <hr class="hr-small">
                    <div class="section-field">
                        <label class="field-name" id="email" for="emailUsuario">E-mail:</label>
                        <span id="emailUsuario" *ngIf="user$ | async as user">{{user.email}}</span>
                    </div>
                    <hr class="hr-small">
                </div>
            </div>

            <div class="section-title">
                <i class="bi bi-star"></i>
                <h2 id="h2-title">Favoritos</h2>
            </div>
            <hr class="hr-big">
            <hr class="hr-small">
            <div class="section-field">
                <label class="field-name" for="apellidoUsuario">Ver destinos favoritos</label>
            </div>
            <hr class="hr-small">
            <div class="section-field">
                <label class="field-name" for="emailUsuario">Ver actividades favoritas</label>
            </div>
            <hr class="hr-small">

            <div class="section-title">
                <i class="bi bi-person-fill-lock"></i>
                <h2 id="h2-title">Gestionar cuenta</h2>
            </div>
            <hr class="hr-big">
            <hr class="hr-small">
            <div class="button_open_overlay">
                <label id="cambiar_cantrasena" class="field-name" for="apellidoUsuario">Cambiar contraseña</label>
                <button type="button" class="btn btn-success" (click)="openOverlayService.showChangePassword= true">Cambiar contraseña</button>
            </div>
            <hr class="hr-small">
            <div class="button_open_overlay">
                <label id="eliminar_cuenta" class="field-name" for="emailUsuario">Eliminar cuenta</label>
                <button type="button" class="btn btn-danger" (click)="openOverlayService.showDeleteAccount = true">Eliminar cuenta</button>
            </div>
            <hr class="hr-small">
            <div class="popup"></div>

        </div>
    </section>
    <app-change-password *ngIf="openOverlayService.showChangePassword"></app-change-password>
    <app-delete-account *ngIf="openOverlayService.showDeleteAccount"></app-delete-account>
    <app-footer-component></app-footer-component>
</body>