<div class="about_us_title">
    <h1>Sobre nosotros</h1>
</div>
<div class="about_us_content">
    <div class="about_us_content_text">
        <p>RouteMaker es una aplicación web que permite a los usuarios crear rutas turísticas personalizadas
            para visitar ciudades. El usuario puede crear una ruta a partir de una ciudad y añadir a la ruta
            los lugares que desee visitar. La aplicación le recomendará lugares de interés turístico en función
            de los lugares que el usuario haya añadido a la ruta. Además, la aplicación le permitirá añadir
            lugares de interés turístico a la ruta que no estén incluidos en la lista de recomendaciones.
        </p>
    </div>
    <div class="about_us_content_image">
        <img src="https://www.beetrack.com/hs-fs/hubfs/calcular%20ruta%20google%20maps.jpg?width=720&name=calcular%20ruta%20google%20maps.jpg"
            alt="aboutUsImage">
    </div>
</div>

<div class="about_us_team">
    <div class="about_us_team_title">
        <h2>Equipo</h2>
    </div>
    <div class="about_us_team_members">
        <div class="about_us_team_member">
            <div class="about_us_team_member_image">
                <img src="https://i.pinimg.com/originals/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg" alt="Alejandro">
            </div>
            <div class="about_us_team_member_name">
                <h3>Alejandro</h3>
            </div>
            <div class="about_us_team_member_role">
                <p>Desarrollador</p>
            </div>
            <div class="about_us_team_member_github">
                <a href="https://github.com/AlejandroVialardSantana" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </div>
        <div class="about_us_team_member">
            <div class="about_us_team_member_image">
                <img src="https://i.pinimg.com/originals/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg" alt="Andrés">
            </div>
            <div class="about_us_team_member_name">
                <h3>Ana</h3>
            </div>
            <div class="about_us_team_member_role">
                <p>Desarrollador</p>
            </div>
            <div class="about_us_team_member_github">
                <a href="https://github.com/anaMJimenezPerez" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </div>
        <div class="about_us_team_member">
            <div class="about_us_team_member_image">
                <img src="https://i.pinimg.com/originals/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg" alt="Eduardo">
            </div>
            <div class="about_us_team_member_name">
                <h3>Marcos</h3>
            </div>
            <div class="about_us_team_member_role">
                <p>Desarrollador</p>
            </div>
            <div class="about_us_team_member_github">
                <a href="https://github.com/DerKom" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
</div>