body{
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    background-color: #A0B1AC;
    width: 100%;
    height: 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2; /* Establecemos un z-index mayor para evitar que el dropdown se quede solapado por la searchBar */
    position: fixed;
    top: 0;
}

.body_container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .body_container {
        max-width: 62.5rem;
    }
}

@media (max-width: 1080px) {
    .body_container {
        max-width: 54rem;
    }
}

@media (max-width: 960px) {
    .body_container {
        max-width: 50rem;
    }
}

@media (max-width: 890px) {
    .body_container {
        max-width: 45rem;
    }
}

@media (max-width: 800px) {
    .body_container {
        max-width: 35rem;
    }
}

@media (max-width: 700px) {
    .body_container {
        max-width: 30rem;
    }
}

@media (max-width: 600px) {
    .body_container {
        max-width: 25rem;
    }
}

@media (max-width: 480px) {
    .body_container {
        max-width: 20rem;
    }
}

@media (max-width: 390px) {
    .body_container {
        max-width: 15rem;
    }
}