<app-header></app-header>

<app-searchbar></app-searchbar>

<div class="body_container">
  <app-carrusel class="destinies_home" [title]="'Destinos destacados'" [filterByRegion]="false" [showActivities]="false" [id]="'swiper-container-' + 0"></app-carrusel>

  <h2 class="destinies_recommendations_title">¡Inspírate para tu próximo viaje!</h2>
  <app-carrusel *ngFor="let carrusel of carruselTitles; let i = index" [title]="carrusel.title"
    [id]="'swiper-container-' + i" [category]="carrusel.category" [filterByRegion]="true" [filterByCategory]="true" [showActivities]="true"></app-carrusel>
</div>

<app-footer-component></app-footer-component>
