<header>
    <div id="header_components">

        <div id="menu_deplegable">
          <input type="checkbox" id="menu_toggle" onchange="display_menu()">
          <label for="menu_toggle" id="menu_toggle_label" class="bi bi-list"></label>
        </div>
      
        <div class="recuadroLogo">
          <a href="../index.html"><img src="../../assets/logo.png" alt="Logo"></a>
        </div>
      
        <nav>
          <input type="checkbox" id="close_menu_toggle" onchange="close_menu()">
          <label for="close_menu_toggle" id="close_menu_toggle_label" class="bi bi-x-lg"></label>
          <i id="idiom_menu_responsive" class="bi bi-globe2"></i>
          <ul>
            <li><a href="../destinies.html">DESTINOS</a></li>
            <li><a href="../activities.html">ACTIVIDADES</a></li>
            <li><a href="../aboutUs.html">SOBRE NOSOTROS</a></li>
          </ul>
        </nav>
      
        <div id="header_subOptions">
          <div class="circle_icon" id="idiom_menu_normal">
            <i class="bi bi-globe2">
              <div class="dropdown_content">
                <a href="#">Español</a>
                <a href="#">English</a>
                <a href="#">Français</a>
              </div>
            </i>
          </div>
          <div class="circle_icon">
            <i class="bi bi-person">
              <div class="dropdown_content">
                <a href="./login.html">Iniciar sesión</a>
                <a href="./register.html">Registrarse</a>
              </div>
            </i>
          </div>
        </div>
      
      </div>
</header>