<head>
    <title>Iniciar sesión</title>
</head>
<body>
    <app-header></app-header>
    <div class="login_container">
        <h2 id="title_log">Iniciar sesión</h2>
        <form id="formularioLogIn">
            <div class="field">
                <label>E-mail:<br></label>
                <input class="text" id="email" name="email" type="email" placeholder="Correo electrónico" required oninput="this.setCustomValidity('')">
                <span id="email_error"></span>
            </div>
            <div class="field">
                <label>Contraseña:<br></label>
                <input class="text" id="password" name="password" type="password" placeholder="Contraseña" required>
                <span id="password_error"></span>
            </div>
            <div class="field">
                <input class="button" type="submit" value="Iniciar sesión">
            </div>
            <p>O</p>
            <div class="googleBtn">
                <i class="bi bi-google"></i>
                <span>Continuar con Google</span>
            </div>
        </form>
        <div class="sign_up_field">
            <label> ¿No tienes cuenta?</label>
            <a class="sign_up" href="register">Regístrate</a>
        </div>
    </div>
    <app-footer-component></app-footer-component>
</body>