<body>
    
    <div class="overlay overlay-container" id="overlay">
        <div class="head">
            <i class="bi bi-person-fill-lock"></i>
            <h6><strong>Cambiar contraseña</strong></h6>
        </div>
        <form class="form-container">
            <div class="field">
                <label for="actual">Contraseña actual<br></label>
                <input required class="text" type="text" id="actual" placeholder="Escriba su contraseña actual">
            </div>
            <div class="field">
                <label for="new">Contraseña nueva<br></label>
                <input required class="text" type="text" id="new" placeholder="Escriba su contraseña nueva">
                <p class="aviso">La contraseña debe contener como minimo 8 caracteres</p>
            </div>
            <div class="field">
                <label for="newRepeated">Repetir contraseña nueva<br></label>
                <input required class="text" type="text" id="newRepeated" placeholder="Repita su contraseña nueva">
            </div>
            <div class="field-button">
                <input class="button" type="submit" value="Cambiar contraseña">
            </div>
            <div class="field-button">
                <button class="button-danger" type="submit" (click)="openOverlayService.showChangePassword = false">Cancelar</button>
            </div>
        </form>
    </div>

</body>