<body>

    <div class="overlay overlay-container" id="overlay">
        <div class="head">
            <i class="bi bi-person-fill-lock"></i>
            <h6><strong>Cambiar contraseña</strong></h6>
        </div>
        <form class="form-container" [formGroup]="changePasswordForm">
            <div class="field" id="password">
                <label for="actual">Contraseña actual<br></label>
                <input class="text" type="password" id="actual" placeholder="Escriba su contraseña actual"
                    formControlName="Password">
                    <mat-error id="error-message" *ngIf="password?.errors?.['required'] && password?.['touched']">
                        <i class="bi bi-exclamation-circle-fill"></i>
                        Introduzca su contraseña actual
                    </mat-error>
            </div>
            <div class="field" id="newPassword">
                <label for="new">Contraseña nueva<br></label>
                <input class="text" type="password" id="new" placeholder="Escriba su contraseña nueva"
                    formControlName="newPassword">
                <mat-error id="error-message" *ngIf="newPassword?.errors?.['required'] && newPassword?.['touched']">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Introduzca una contraseña
                </mat-error>
                <mat-error id="error-message" *ngIf="newPassword?.errors?.['minlength'] && newPassword?.['touched']">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Debe tener 8 caracteres como minimo
                </mat-error>
            </div>
            <div class="field" id="repeatPassword">
                <label for="newRepeated">Repetir contraseña nueva<br></label>
                <input class="text" type="password" id="newRepeated" placeholder="Repita su contraseña nueva"
                    formControlName="repeatPassword">
                <mat-error id="error-message"
                    *ngIf="repeatPassword?.errors?.['required'] && repeatPassword?.['touched']">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Introduzca una contraseña
                </mat-error>
            </div>

            <mat-error *ngIf="changePasswordForm.errors?.['passwordsDontMatch']"> 
                <i class="bi bi-exclamation-circle-fill"></i>
                Las contraseñas no coinciden
            </mat-error>

            <div class="field-button">
                <input mat-raised-button class="button" type="submit" value="Cambiar contraseña">
            </div>
            <div class="field-button">
                <button class="button-danger" type="submit"
                    (click)="openOverlayService.showChangePassword = false">Cancelar</button>
            </div>
        </form>
    </div>

</body>