@import '~swiper/swiper-bundle.min.css';

.destinies_caroussel {
    width: 100%;
    margin: 2rem auto;
}

.destinies_caroussel .carousel_title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.destinies_recommendations {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.line {
    width: 100%;
    height: 0.25rem;
    background-color: #558A78;
    margin-bottom: 1.5rem;
}

.destinies_recommendations .destinies_recommendations_title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    margin-top: 2.75rem;
}

.swiper-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 20rem;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.slick_track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

#slick {
    position: relative;
    margin: 0 2.5rem;
    width: 20rem;
    box-sizing: border-box;
    display: flex;
    height: 20rem;
    overflow: hidden;
}

#slick:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

#slick img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

#slick .destinies_caroussel_item_info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 1.5rem;
    color: #fff;
}

#slick .destinies_caroussel_item_info i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

#slick .destinies_caroussel_item_info p {
    margin-bottom: 0;
    font-size: 1.25rem;
}

/* buttons */

.slick_arrow{
    border-radius: 30px;
    background-color: #558A78;
    position: absolute;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 1;
}

.slick_arrow i {
    color: #fff;
    font-size: 1.5rem;
}

.slick_arrow:hover {
    background-color: #6fad99;
}

.slick_prev{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slick_next{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1280px) {
    #slick {
        margin: 0 1.5rem;
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width: 1080px) {
    #slick {
        width: 15rem;
        height: 15rem;
    }

    .slick_arrow {
        width: 40px;
        height: 40px;
    }

    .slick_arrow i {
        font-size: 1.25rem;
    }
}

@media (max-width: 960px) {
    #slick {
        margin: 0 2.5rem;
        width: 20rem;
        height: 20rem;
    }

    .slick_arrow {
        width: 48px;
        height: 48px;
    }

    .slick_arrow i {
        font-size: 1.5rem;
    }
}

@media (max-width: 890px) {
    #slick {
        width: 18rem;
        height: 18rem;
        margin: 0 2.25rem;
    }
}

@media (max-width: 800px) {
    #slick {
        width: 16rem;
        height: 16rem;
        margin: 0 0.75rem;
    }

    .slick_arrow {
        width: 40px;
        height: 40px;
    }

    .slick_arrow i {
        font-size: 1.25rem;
    }
}

@media (max-width: 700px) {
    #slick {
        width: 14rem;
        height: 14rem;
        margin: 0 0.5rem;
    }

    .slick_arrow {
        width: 32px;
        height: 32px;
    }

    .slick_arrow i {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    #slick {
        width: 18rem;
        height: 18rem;
        margin: 0 3.5rem;
    }

    .slick_arrow {
        width: 40px;
        height: 40px;
    }

    .slick_arrow i {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    #slick {
        width: 16rem;
        height: 16rem;
        margin: 0 2rem;
    }

    .slick_arrow {
        width: 30px;
        height: 30px;
    }

    .slick_arrow i {
        font-size: 1.1rem;
    }
}

@media (max-width: 390px) {
    #slick {
        width: 12.5rem;
        height: 12.5rem;
        margin: 0 1.25rem;
    }
}